/* CORES
   BRANCO #fff
   DARK1 #272727 
   DARK2 #2d2d2d
   DARK3 #414141
   DARK4 #1c1c1c
   DARK5 #343434
*/

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Lilita One", sans-serif;
    background-color: #272727;
    color: #fff;
}
.cabecalho,
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1280px;
}
img{
    width: 120px;
}
.cabecalho{
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}
.nav{
    gap: 5em;
}
.nav a{
    text-decoration: none;
    color: #FC490B;
    transition: 1s;
    font-weight: bold;
}
.fundo{
    background-color: #414141;
    padding: 10px;
    border-radius: 10px;
}
.cod1{
    width: 680px;
    padding: 30px;
    margin: 20px;
    height: 400px;
}
.cod1{
    justify-content: space-between;
    float: inline-start;
}
#conteudo1{
    padding: 60px;
    line-height: 28px;
    font-size: 22px;
    background-color: #414141;
}
.titulo1{
    color: #FC490B;
    font-size: 55px;
}
.paragrafo1{
    font-family: Futura Md BT;
}
.prog{
    width: 680px;
    padding: 30px;
    margin: 20px;
    height: 560px;
}
.prog{
    justify-content: space-between;
    float: inline-end;
}
#conteudo2{
    margin: 100px;
    padding: 40px;
    line-height: 28px;
    font-size: 22px;
}
.titulo{
    color: #FC490B;
    font-size: 55px;
    line-height: 55px;
}
.paragrafo{
    font-family: Futura Md BT;
   
}
#conteudo3{
    background-color: #414141;
    padding: 60px;
    line-height: 28px;
    font-size: 22px;
}
html{
    scroll-behavior: smooth;
}
#conteudo4{
    margin: 100px;
    padding: 40px;
    line-height: 28px;
    font-size: 22px;
}
.cod2{
    justify-content: space-between;
    float: inline-end;
    width: 680px;
    padding: 30px;
    margin: 20px;
    height: 560px;
}
#conteudo5{
    background-color: #414141;
    padding: 60px;
    line-height: 28px;
    font-size: 22px;
    margin: 20px;
}
.cod3{
    justify-content: space-between;
    float: inline-start;
    width: 500px;
    padding: 30px;
    margin: 20px;
}
#conteudo6{
    margin: 100px;
    padding: 40px;
    line-height: 28px;
    font-size: 22px;
}
.cod4{
    justify-content: space-between;
    float: inline-end;
    width: 500px;
    padding: 30px;
    margin: 20px;
    height: 300px;
}
#conteudo7{
    background-color: #414141;
    padding: 130px;
    line-height: 28px;
    font-size: 22px;
}
.cod5{
    justify-content: space-between;
    float: inline-start;
    width: 680px;
    padding: 30px;
    margin: 20px;
    height: 450px;
}

.banner{
    height: 100vh;
    background-image: url(https://media.tenor.com/GfSX-u7VGM4AAAAM/coding.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    width: 100%;
    padding:  70px 1%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}
header.rolagem{
    background-color: #212121;
    padding: 5px 4%;
}
.banner h1{
    font-size: 4em;
}
.banner h1 span{
    color: #FC490B;
}
.alunos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    padding-top: 24px;
    padding-bottom: 12px;
    width: 100%;
}

.aluno {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.alunos img {
    border-radius: 50%;
    object-fit: cover;
}
.main2{
    background-color: #272727;
    margin: 0;
}
.etec{
    display: flex;
    justify-content: space-evenly;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #272727;
    height: 120px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items:center ;
    background-color: #212121;
    color: #ffffff; 
    padding-top: 74px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 48px;
}
.prof img{
    width: 150px;
    height: 150px;
    border-radius:50%;
}
.alinhar{  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding: 48px;
    flex-wrap: wrap;
    background-color: #212121;
}
.fim span{
    color: #FC490B;
}






